/* Base skeleton style */
.skeleton {
  animation: shimmer 2s linear infinite !important;
  background-color: rgb(240, 240, 240) !important; 
  background-image: linear-gradient(to right, transparent 0%, rgb(0 0 0 / 10%) 25%, transparent 50%) !important;
  background-size: 200% 100% !important;
  border-radius: 4px !important;
  margin-bottom: 10px !important;
  display: flex;
}

/* Shimmer animation */
@keyframes shimmer {
  from { background-position: 200% 0; }
  to { background-position: -200% 0; }
}