/* Base skeleton style */
.skeleton {
  animation: shimmer 2s linear infinite !important;
  background-color: rgba(183, 183, 183, 0.82) !important;
  background-image: linear-gradient(to right, #fff0 0%, rgba(255, 255, 255, 0.2) 25%, #d0d0d000 50%) !important;
  background-size: 200% 100% !important;
  border-radius: 4px !important;
  margin-bottom: 10px !important;
  display: flex;
}

/* Shimmer animation */
@keyframes shimmer {
  from { background-position: 200% 0; }
  to { background-position: -200% 0; }
}